VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=your-publishable-key


# Get your API key from https://resend.com/api-keys
RESEND_API_KEY=""

# This is the email address that will receive the booking notifications.
BOOKING_NOTIFICATION_EMAIL=""

# This "from" email MUST be from a domain you have verified in your Resend account.
RESEND_FROM_EMAIL=""