VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=your-publishable-key


# Get your API key from https://resend.com/api-keys
RESEND_API_KEY=your_resend_api_key_here

# This is the email address that will receive the booking notifications.
BOOKING_NOTIFICATION_EMAIL=your_resend_api_notification_key_here

# This "from" email MUST be from a domain you have verified in your Resend account.
RESEND_FROM_EMAIL=your_resend_api_from_email_here

